@import url("../fonts/amadeus_regular_macroman/stylesheet.css");
body {
    margin: 0px auto;
    width: 90%;
    text-align: center;
    background-color: #F9F7F4;
    
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 24px;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
/*--------------*/
/*--bio and popout image stuff--*/
img.bio {
    width: 250px;
    height: 250px;
    margin: 10px;
}
div.facebox li {
    display: inline;
    list-style: none;
    margin: 20px
}
div.facebox {
    margin-top: 100px;
    margin-bottom: 200px;
}
ul.enlarge li {
    position: relative;
    z-index: 0;
}
ul.enlarge span {
    position: absolute;
    left: -9999px;
}
ul.enlarge li:hover {
    z-index: 50;
    cursor:pointer;
}
ul.enlarge li:hover span {
    top: -300px;
    left: -20px;
}
.spanbox {
    position: relative;
    width: 100%;
}
h2 {
    font-family:"Special Elite";
    font-size: 1.3em;
    background-color: hsla(0,0%,10%,0.6);
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 300px;
    left: 10px;
    width:100%;
}
p.quote {
    font-size: 0.8em;
    text-align: center;
}
ul.enlarge li:hover:nth-child(2) span {
    left -100px;
}
ul.enlarge li:hover:nth-child(3) span {
    left: -200px;
}
/*--end bio popout stuff--*/
/*-------------------*/

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
    color: #918661;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
#title {
    font-size: 10em;
    font-family: 'amadeus_regularamadeusRg','Impact','Fantasy';
    color: #FABC02;
    opacity: 0.4;
    text-shadow: -1px -2px #666666;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ffffff;
}
.content {
    width: 65%;
margin: auto;
}
footer {
    border-top: 1px solid #d5d5d5;
}
footer p {
    color: #918691;
    font-size: .5em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
