@import url('../fonts/Nexa%20Rust%20Free-Webfont/Webfonts/nexarustslab_blackshadow01free_macroman/stylesheet.css');
@import url('../fonts/Bearpaw-fontfacekit/web%20fonts/bearpaw_regular_macroman/stylesheet.css');
@import url('../fonts/Capture-it-fontfacekit/web%20fonts/captureit_regular_macroman/stylesheet.css');
@import url('../fonts/sinkin-sans-fontfacekit/web%20fonts/sinkinsans_200xlight_macroman/stylesheet.css');
@import url('../fonts/sinkin-sans-fontfacekit/web%20fonts/sinkinsans_200xlightitalic_macroman/stylesheet.css');
@import url('../fonts/sinkin-sans-fontfacekit/web%20fonts/sinkinsans_400regular_macroman/stylesheet.css');
@import url('../fonts/sinkin-sans-fontfacekit/web%20fonts/sinkinsans_300light_macroman/stylesheet.css');
@import url('//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css');

* {
	margin: auto;
	text-align: center;
	font-size: 1em;
	list-style: none;
}
body {
	border-color: blue;
	/*background-color: #FAE1C0;*/
	background-image: url("../images/backgrounds/wood-wallpaper.jpg");
}
header#big {
	padding-bottom: 1%;
	padding-top: 1%;
	width: 100%;
	/*position: fixed;*/
	/*background-color: hsla(34, 85%, 87%, 0.6);*/
	z-index: 20;
}
#custom_honeyfoot_banner_name {
	max-width: 60%;
	margin-top: 0.5%;
	z-index: 21;
	opacity: 0.9;
}
#custom_honeyfoot_banner_name_small {
	max-width: 39%;
	margin-top: 0.5%;
	z-index: 21;
	opacity: 0.9;
}

/*---------------------------------------NAV---------------------------------------*/
nav {
	margin-top: 1.5%;
	width: 100%;
	/*background-color: hsla(34, 85%, 87%, 0.6);*/
	z-index: 20;
}
#navcontainer ul {
	/*position: fixed;*/
	list-style: none;
	padding: 0;
	text-align: center;
	width: 60%;
	left: 20%;
} 
ul#navcontainer li {
	border-color: gray;
	display: inline-block;
	margin-right: 3.2%;
	margin-left: -2%;
}
ul#navcontainer li a {
	font-family: 'bearpawregular', 'Arial';
	font-size: 2.8em;
	text-transform: uppercase;
	color: #ffffff;
	/*color: #FABC02;*/
	/*color: #EEB81C;*/
	opacity: 0.9;
}
/*------------------------------------end Navigation-----------------------------*/

h1 {
	border-color: white;
	font-family: "sinkin_sans300_light";
	color: white;
	font-size: 0.7em;
}
h1 i {
	font-family: "sinkin_sans200_x_light_italic";
	color: white;
	font-size: 1em;
}
a {
	border-style: none;
	text-decoration: none;
	color: #ffffff;
}
.bold_sinkin_sans {
	font-family: "sinkin_sans400_regular";
	color: white;
	font-size: 1em;
}
p.sm_text {
	font-size: 2em;
}
p.medium_text {
	font-size: 5em;
}
p.lg_text {
	font-size: 7em;
}
p.lg_text {
	font-size: 8em;
}
p.extra_lg_text {
	font-size: 13em;
}
p.bearpaw {
	font-style: bold;
	font-family: 'bearpawregular';
}
p.white_text {
	color: white;
}
div.announcement {
	margin-top: 1%
}
.muted {
	opacity: 0.8;
}
#feature_image {

	max-width: 35%;
	opacity: 0.9;
	margin-bottom: 5%;
}
#contact_feature_image {
	float: left;
	margin-top: 2%;
	margin-left: 23%;
	width: 18%;
	opacity: 0.8;
	margin-bottom: 5%;
}
#contact_container {
	/*background-color: hsla(34, 85%, 17%, 0.3);*/
	background-color: hsla(0,100%,100%,0.15);
	float: right;
	max-width: 30%;
	margin-top: 2%;
	margin-bottom: 5%;
	margin-right: 24%;
	margin-left: 2%;
	padding-right: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
}
li#contact h1 {
	text-align: left;
}
#feature_image_small {
	max-width: 20%;
	opacity: 0.9;
}	
div#short_blurb  {
	max-width: 40%;
	color: white;
	/*background-color: hsla(34, 85%, 17%, 0.3);*/
	background-color: hsla(0,100%,100%,0.15);
	text-align: left;
	margin-top: 1.5%;
	margin-right: 29.5%;
	padding: 1.5%;
}
div#long_blurb {
	max-width:40%;
	padding: 1.5%;
	
}
h1.longblurb {
	color: white;
	/*background-color: hsla(34, 85%, 17%, 0.3);*/
	background-color: hsla(0,100%,100%,0.15);
	width: auto;
}
h1.leftalign {
	text-align: left;
	text-indent: 30px;
}
div#narrowfeature {
	max-width: 60%;
	margin-bottom: 2%;
}
div.feature {
	margin-top: 2%;
} 
.bottom_margin {
	margin-bottom: 5%;
}
/*---------------------------------FOOTER---------------------------------*/
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 35px;
	background-color: hsla(34, 85%, 17%, 0.6);
}
div#footercont {
	position: relative;
	bottom: 0;
}
ul#footer_icons {
	display: inline;
}
ul#footer_icons li {
	list-style: none;
	display: inline-block;
	margin-right: 3%;
	margin-left: -1.5%;
	margin-top: 5px;
}
#footericon {
	max-height: 25px;
}
div#copyright {
	position: absolute;
	bottom: 0.5%;
	right: 0.5%;
}
	
#copyright {
	color: #ffffff;
	opacity: 0.8;
	font-size: 0.5em;
	font-weight: lighter;
	font-family: 'District Pro','Existence','Avenir';
	margin-bottom: 3px;
}
/*---------------------------end footer----------------------------------*/


/*-----------------------------bio popout stuff----------------------------*/
img.bio {
    width: 25%;
    height: 35%;
    margin: 1%;
}
div.feature_box {
	    margin: 2%;
	  }
div#bio_feature li {
    display: inline;
    list-style: none;
    margin-right: 3.5%;
    margin-left: 0%;
}
div#bio_feature {
    margin-top: 2%;
    margin-bottom: 2%;
} 
div.bio_title_box {
	display: inline-block;
	width: 18%;
	margin-right: 4%;
	margin-left: 4.5%;
}
.bio_title {
	display: inline;
}
ul.enlarge li {
    position: relative;
    z-index: 0;
}
ul.enlarge span.disappear {
    position: absolute;
    left: -9999px;
}
ul.enlarge li:hover {
    z-index: 50;
    cursor:pointer;
}
ul.enlarge li:hover span.disappear {
    top: -400px;
    left: -25%;
}
h2 {
    font-family:"Special Elite";
    font-size: 1.3em;
    background-color: hsla(0,0%,10%,0.6);
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: 80%;
    left: 1%;
    width:auto;
}
ul.enlarge li:hover:nth-child(2) span {
    left -10%;
}
ul.enlarge li:hover:nth-child(3) span {
    left: -20%;
}
/*----------------------end Bio Popout Stuff---------------------------*/
/*---------------------CLOCK------------------*/
div#clockdiv {
	font-family: 'bearpawregular';
	font-style: bold;
	color: white;
	font-size: 7em;
	margin-bottom: 5%;
}
div#countdown {
	margin-top: 1%;
}
/*----------------Mail Chimp Form Style ------------------------------*/
#mce-EMAIL {
	width: 80%;
}
#mc_embed_signup {
	background:hsla(0,100%,100%,0); 
	clear:left; 
	font-size: 1em; 
	width:95%; 
	padding: 3%;
}
#mc_embed_signup input.email {
	font-family: 'bearpawregular'; 
	font-size: 1.3em;
	background-color: hsla(0,100%,100%,0.7);
	color: #000000;
	height: 25px;
}
#mc_embed_signup .button {
	font-family: 'bearpawregular'; 
	font-size: 1.6em;
	background-color: #eeb81c;
	opacity: 0.9;
	color: white;
	height: 40px;
}
/*---------------------END Mail Chimp FORM----------------------*/