@import url('../fonts/Nexa%20Rust%20Free-Webfont/Webfonts/nexarustslab_blackshadow01free_macroman/stylesheet.css');
@import url('../fonts/Bearpaw-fontfacekit/web%20fonts/bearpaw_regular_macroman/stylesheet.css');
@import url('../fonts/Capture-it-fontfacekit/web%20fonts/captureit_regular_macroman/stylesheet.css');
@import url('../fonts/sinkin-sans-fontfacekit/web%20fonts/sinkinsans_200xlight_macroman/stylesheet.css');
@import url('../fonts/sinkin-sans-fontfacekit/web%20fonts/sinkinsans_200xlightitalic_macroman/stylesheet.css');
@import url('../fonts/sinkin-sans-fontfacekit/web%20fonts/sinkinsans_400regular_macroman/stylesheet.css');
@import url('../fonts/sinkin-sans-fontfacekit/web%20fonts/sinkinsans_300light_macroman/stylesheet.css');
@import url('//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css');

* {
	margin: auto;
	text-align: center;
	font-size: 1em;
	list-style: none;
}
body {
	border-color: blue;
	/*background-color: #FAE1C0;*/
	background-image: url("../images/backgrounds/wood-wallpaper.jpg");
}
header#big {
	padding-bottom: 1%;
	padding-top: 1%;
	width: 100%;
	/*position: fixed;*/
	/*background-color: hsla(34, 85%, 87%, 0.6);*/
	z-index: 20;
}

#custom_honeyfoot_banner_name {
	max-width: 80%;
	margin-top: 0.5%;
	z-index: 21;
	opacity: 0.9;
	position: absolute;
	left: 2%;
	top: 0;
	margin-left: 2%;
	height: 210px;
	padding: 5px;
}
#custom_honeyfoot_banner_name_small {
	display: hidden;
	position: absolute;
	left: -99999px;
	/*----max-width: 39%;
	margin-top: 0.5%;
	z-index: 21;
	opacity: 0.9; ----*/
}
div.mobile_header_margin {
	margin-top: 300px;
}

div#web_banner_small {
	display: hidden;
	position: absolute;
	left: -99999px;
}
/*---------------------------------------NAV---------------------------------------*/

div#horizontal_nav_container {
	display: hidden;
	position: absolute;
	left: -99999px;
}
div#mobile_nav_container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
}

img#menu_icon {
	width: 230px;
	height: 230px;
	opacity: 0.7;
}

ul#mobile_menu, ul#dropdown_container {
	display: inline;
	margin: 0;
	padding: 0;
}

ul#mobile_menu li {
	display: inline-block;
}

ul#mobile_menu li:hover {
	opacity: 1;
}

ul#mobile_menu li:hover ul {
	display: block;
	top: 240px;
}

ul#mobile_menu li ul {
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

ul#mobile_menu li ul li {
	background-color: hsla(34, 85%, 17%, 0.7);
	display: block;
}

ul#mobile_menu li ul li a {
	display: block;
	font-family: 'bearpawregular';
	font-size: 10em;
	color: white;
	text-decoration: none;
	padding: 1%;
	margin: 2%;
	text-align: center;
	padding-top: 35px;
	padding-left: 40px;
	padding-right: 40px;
}

ul#mobile_menu li ul li:hover a {
	background-color: hsla(24, 85%, 17%, 1);
	color: white;
	opacity: 0.8;
}

/*------------------------------------end Navigation-----------------------------*/

h1 {
	border-color: white;
	font-family: "sinkin_sans300_light";
	color: white;
	font-size: 0.9em;
}
h1 i {
	font-family: "sinkin_sans200_x_light_italic";
	color: white;
	font-size: 1.2em;
}
a {
	border-style: none;
	text-decoration: none;
	color: #ffffff;
}
.bold_sinkin_sans {
	font-family: "sinkin_sans400_regular";
	color: white;
	font-size: 1em;
}
div.ticket_link a {
	font-family: 'bearpawregular';
	font-size: 5em;
	color: white;
}
div.ticket_link {
	margin: 2%;
}
p.medium_text {
	font-size: 8em;
}
p.lg_text {
	font-size: 10em;
}
p.extra_lg_text {
	font-size: 15em;
}
p.bearpaw {
	font-family: 'bearpawregular';
}
p.white_text { 
	color: white;
}
.brown_text {
	color: hsla(34, 85%, 17%, 1);
}
.tan_text {
	color: hsla(24, 85%, 87%, 1);
}
.gold_text {
	color: #eeb81c;
}
div.announcement {
	margin-top: 1%
}
.muted {
	opacity: 0.8;
}
#feature_image {
	max-width: 75%;
	opacity: 0.9;
	margin-bottom: 5%;
}
#contact_feature_image {
	position: absolute;
	left: 25%;
	bottom: 10%;
	margin-top: 2%;
	width: 50%;
	opacity: 0.8;
	margin-bottom: 5%;
	z-index: -10;
}
#contact_container {
	/*background-color: hsla(34, 85%, 17%, 0.3);*/
	background-color: hsla(0,100%,100%,0.15);
	width: 90%;
	margin-top: 2%;
	margin-bottom: 5%;
	padding-right: 3%;
	padding-top: 2%;
	padding-bottom: 40%;
}
li#contact h1 {
	text-align: center;
	font-size: 1.5em;
}
#feature_image_small {
	max-width: 70%;
	opacity: 0.9;
}	

h1.leftalign {
	text-align: left;
	text-indent: 30px;
}
div#narrowfeature {
	max-width: 90%;
	margin-bottom: 2%;
}
div.feature {
	margin-top: 10%;
} 
.bottom_margin {
	margin-bottom: 10%;
}
div#tell_me_moar {
	position: absolute;
	left: 3%;
	top: 30%;
}
img#tell_me_mas {
	width: 70%;
}

/*---------------------------------FOOTER---------------------------------*/
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 10%;
	background-color: hsla(34, 85%, 17%, 0.6);
	margin-top: 15%;
}
div#footercont {
	position: relative;
	bottom: 0px;
}
ul#footer_icons {
	display: inline;
}
ul#footer_icons li {
	list-style: none;
	display: inline-block;
	margin-right: 10%;
	margin-left: 2%;
	margin-top: 1%
}
#footericon {
	height: 12%;
	opacity: 0.8;
}
div#copyright {
	position: absolute;
	bottom: 0.5%;
	right: 0.5%;
}
#copyright {
	color: #ffffff;
	opacity: 0.8;
	font-size: 0.7em;
	font-weight: lighter;
	font-family: 'District Pro','Existence','Avenir';
}
/*---------------------------end footer----------------------------------*/


/*-----------------------------bio popout stuff----------------------------*/
img.bio {
    width: 60%;
    margin: 1%;
    left: -99999px;
    position: absolute;
}
div#bio_names_horizontal_list {
	display: hidden;
	position: absolute;
	left: -99999px;
}
div.bio_feature li {
    display: block;
    list-style: none;
    margin: 2%;
    margin-right: 4%;
    margin-left: -1%;
}
div.bio_feature {
    margin-top: 2%;
    margin-bottom: 17%;
} 
ul.enlarge li img {
	width: 60%;
}

ul.enlarge span {
	position: relative;
	width: 60%;
	margin: 1%;
}

h2 {
    font-family:"Special Elite";
    font-size: 1.3em;
    background-color: hsla(0,0%,10%,0.6);
    text-align: left;
    color: #ffffff;
    position: absolute;
    top: -100px;
    left: 1%;
    width: auto;
}
p.quote {
    font-size: 0.8em;
    text-align: center;
}
div.short_blurb  {
	max-width: 85%;
	color: white;
	/*background-color: hsla(34, 85%, 17%, 0.3);*/
	background-color: hsla(0,100%,100%,0.15);
	padding: 2%;
}

div.mobile_blurbs {
	color: white;
	background-color: hsla(0,100%,100%,0.15);
	padding: 2%;
}

div#web_blurbs {
	display: hidden;
	position: absolute;
	left: -99999px;
}

/*----------------------end Bio Popout Stuff---------------------------*/
/*---------------------CLOCK------------------*/
div#clockdiv {
	font-family: 'bearpawregular';
	font-style: bold;
	color: white;
	font-size: 10em;
	margin-bottom: 5%;
}
div#countdown {
	margin-top: 1%;
}
/*----------------Mail Chimp Form Style ------------------------------*/
#mce-EMAIL {
	width: 90%;
}
#mc_embed_signup {
	background:hsla(0,100%,100%,0); 
	clear:left; 
	font-size: 2em; 
	width:100%; 
	padding: 3%;
}
#mc_embed_signup input.email {
	font-family: 'bearpawregular'; 
	font-size: 1.8em;
	background-color: hsla(0,100%,100%,0.7);
	color: #000000;
	height: 60px;
}
#mc_embed_signup .button {
	font-family: 'bearpawregular'; 
	font-size: 2em;
	background-color: #eeb81c;
	opacity: 0.9;
	color: white;
	height: 100px;
}
input.button { 
	margin-top: 17%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
}
	
/*---------------------END Mail Chimp FORM----------------------*/

/*----------------MUSIC--------------*/
div#web_music_widget {
	display: hidden;
	position: absolute;
	left: -99999px;
}
div#mobile_music_widget {
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
}
div#mobile_bandsintown_widget * {
	font-size: 1.1em;
}